:root {
  --kell-gutter-bg:#fff;
  --kell-gutter-fg:#999;
  --kell-content-bg:#fff;
  --kell-content-fg:#000;
  --kell-border:#ccc
}

.kell, .kell * {
  box-sizing:border-box
}

.kell {
  display:flex;
  border:1px solid var(--kell-border);
  width:100%;
  height:300px;
  font-family:monospace
}

.kell-gutter {
  overflow-y:hidden;
  border-right:1px solid var(--kell-border);
  width:43px;
  padding:10px 8px 8px;
  background:var(--kell-gutter-bg);
  user-select:none
}

.kell-gutter p {
  margin:0;
  font-size:12px;
  text-align:right;
  color:var(--kell-gutter-fg)
}

.kell-content {
  overflow-y:auto;
  border:0;
  width:100%;
  padding:8px;
  background:var(--kell-content-bg);
  font-size:14px;
  line-height:18px;
  word-break:break-all;
  color:var(--kell-content-fg);
  resize:none;
  outline:0
}
